# 忽略編譯產生的二進制檔案
FiniteStateMachine/.settings/
FiniteStateMachine/.vscode/
FiniteStateMachine/.classpath
FiniteStateMachine/.project
FiniteStateMachine/bin/
FiniteStateMachine/logs/
在這裡右鍵_顯示其他選項_以Cursor開啟.txt